- provide(:title, @user.name)
- content_for :specific_scripts do
  =javascript_include_tag "mini_map.js"
.users_page
  .row
    %aside.span6
      - if !signed_in?
        %section
          %h1
            = gravatar_for @user
            = @user.name
      - else 
        %section
          = render 'shared/user_info'
        %section 
          = render 'shared/micropost_form'

    .span4
      .justified
        - if @user.microposts.any?
          %h3 Microposts (#{@user.microposts.count})
          %ol.microposts
            = render @microposts
          = will_paginate @microposts
